#只支持 OpenAI 兼容格式 的大模型 API

LLM_PROVIDER=custom
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://your-provider.example/v1
LLM_MODEL=your-model-name

# Tavily API Key
TAVILY_API_KEY=your_tavily_api_key_here

#Mineru API Key
MINERU_API_KEY=your_mineru_api_key_here

